{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/r-2.2.6/sl-1.3.1/datatables.min.css" />
<style>
    .wrapper{
        background:none;
    }
    .mytable{
        background:white;
        padding-top: 5%;
        width: 99%;
        /* margin-left: 1%; */
        box-shadow:
                    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                    0 12.5px 10px rgba(0, 0, 0, 0.06),
                    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                    0 100px 80px rgba(0, 0, 0, 0.12)
                    ;
        border-radius: 10px;
    }

    h4{
        margin-left: 20px;
        margin-top: -50px;
        margin-bottom: 30px;
        margin-left: 37px;
        font-size: 20px;
    }

    .tabledata{
        padding: 2%;
        margin-left: 1%;
        margin-right: 1%;
    }
</style>
{% endblock css%}
{% block content %}
<div class="table-responsive mytable mb-4">
    <h4>Scan Result</h4>
    <div class="tabledata">
        <table id="subdomain_scan_results" class="table">
            <!-- #TODO: Add this feature to make tabel look cool. 
                #[class="multi-table table table-striped table-bordered"] -->
            <thead>
                <tr>
                    <th>Subdomain</th>
                    <th>Status</th>
                    <th>Ports</th>
                    <th>Content Length</th>
                    <th>Page Title</th>
                    <th>Technology</th>
                    <th>Screenshot</th>
                </tr>
            </thead>
            <tbody>
                {% for item in subdomains %}
                <tr>
                    <td>{{ item.subdomain }}</td>
                    <td>{{ item.ip_address }}</td>
                    <td>{{ item.http_status }}</td>
                    <td>
                        {{item.open_ports}}
                    </td>
                    <td>{{ item.content_length }}</td>
                    <td>{{ item.page_title }}</td>
                    <td>{{item.screenshot_path}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
{% block script %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/r-2.2.6/sl-1.3.1/datatables.min.js"></script>
<script>
$(document).ready( function () {
$('#subdomain_scan_results').DataTable({


buttons: {
    name: 'primary',
    buttons: [ 'copy', 'csv', 'excel', 'pdf' ]

    },
    dom: 'B<"clear">lfrtip',
    pageLength : 10,
}
);
} );
</script>


<script>
// $(document).ready(function() {
//     var scan_history_table = $('#subdomain_scan_results').DataTable({
//         "buttons": {
//         "name": 'primary',
//         "buttons": [ 'copy', 'csv', 'excel', 'pdf' ]
//         },
//         "dom": 'B<"clear">lfrtip',
//         "stripeClasses": [],
//         "lengthMenu": [20, 40, 60, 100],
//         "pageLength": 20,
//         'serverSide': true,
//         "ajax": '/scan/api/scanHistory/?scan_id={{scan_history_id}}&format=datatables',
//         'order': [
//             [4, "desc"]
//         ],
//         "columns": [
//             { 'data': 'subdomain' },
//             { 'data': 'http_status' },
//             { 'data': 'open_ports' },
//             { 'data': 'content_length', 'searchable': false },
//             { 'data': 'page_title' },
//             { 'data': 'technology_stack' },
//             { 'data': 'screenshot_path', 'searchable': false },
//         ],
//         "columnDefs": [

//             {
//                 "render": function(data, type, row) {
//                     if (row['http_url']) {
//                         return `<a href="` + row['http_url'] + `" class="text-info" target="_blank">` + data + `</a>`;
//                     } else {
//                         return `<a href="https://` + data + `" class="text-info" target="_blank">` + data + `</a>`;
//                     }
//                 },
//                 "targets": 0
//             },

//             {
//                 "render": function(data, type, row) {
//                     // display badge based on http status
//                     // green for http status 2XX, orange for 3XX and warning for everything else
//                     if (data >= 200 && data < 300) {
//                         return "<span class='badge badge-pills badge-success'>" + data + "</span>";
//                     } else if (data >= 300 && data < 400) {
//                         return "<span class='badge badge-pills badge-warning'>" + data + "</span>";
//                     } else if (data == 0) {
//                         // datatable throws error when no data is returned
//                         return "";
//                     } else {
//                         return `<span class='badge badge-pills badge-danger'>` + data + `</span>`;
//                     }

//                 },
//                 "targets": 1
//             },

//             {
//                 "render": function(data, type, row) {
//                     return span_values(data, "info");
//                 },
//                 "targets": 2
//             },

//             {
//                 "render": function(data, type, row) {
//                     if (data) {
//                         return htmlEncode(data);
//                     } else {
//                         return "";
//                     }
//                 },
//                 "targets": 4
//             },

//             {
//                 "render": function(data, type, row) {
//                     if (data) {
//                         return span_values(data, "info");
//                     } else {
//                         return "";
//                     }
//                 },
//                 "targets": 5
//             },

//             {
//                 "render": function(data, type, row) {
//                     if (data) {
//                         //return lightbox
//                         return `<a href="/media/` + data + `" data-lightbox="screenshots"><img src="/media/` + data + `" class="img-fluid rounded mb-4 mt-4"></a>`;
//                     } else {
//                         return "";
//                     }
//                 },
//                 "targets": 6
//             },
//         ],
//     })
// });


// function span_values(data, color) {
//     var badge = "<span class='badge badge-pill badge-" + color + " m-1'>";
//     var data_with_span = "";
//     data.split(/\s*,\s*/).forEach(function(split_vals) {
//         data_with_span += badge + split_vals + "</span>";
//     });
//     return data_with_span;

// }
</script>
{% endblock script %}