amqp==5.0.2
asgiref==3.3.1
billiard==3.6.3.0
celery==5.0.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
decorator==4.4.2
Django==3.1.5
djangorestframework==3.12.2
djangorestframework-datatables==0.5.2
idna==2.10
kombu==5.0.2
mysqlclient==2.0.3
prompt-toolkit==3.0.9
psycopg2==2.8.6
pytz==2020.5
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
sweetify==2.0.0
urllib3==1.26.2
validators==0.18.2
vine==5.0.0
wcwidth==0.2.5
