{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ title }}</title>

	<!-- Import Library -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	
	<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
	<link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css'%}">


	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static '/plugins/snackbar/snackbar.min.css' %}">
	<script src="{% static '/plugins/snackbar/snackbar.min.js' %}"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	
	<!-- End Import Library -->

	<!-- Link for CSS -->
	<link rel="stylesheet" href="{% static '/assets/css/main.css' %}">
	
	<!-- End of Link for CSS -->

	{% block css %}
	{% endblock css %}

</head>
<body >

	<!-- Navbar -->
	<div class="navbar">
		<!-- nav left -->
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link">
					<i class="fas fa-bars" onclick="collapseSidebar()" ></i>
				</a>
			</li>
			<li class="nav-item">
				<div class="left_area">
					<h2>Recon <span>Master</span></h2>
				</div>
			</li>
		</ul>
		<!-- end nav left -->

		<!-- Navbar Right -->
		<ul class="navbar-nav nav-right">
			<!-- <li class="nav-item mode">
				<a class="nav-link" href="#" onclick="switchTheme()">
					<i class="fas fa-moon dark-icon"></i>
					<i class="fas fa-sun light-icon"></i>
				</a>
			</li> -->

			<li class="nav-item avt-wrapper" style="margin-top: -5px;">
				<div class="avt">
					<img src="{% static 'images/user.png'%}" alt="User image">
				</div>
			</li>
		</ul>
		<!-- End of Navbar Right -->

	</div>
	<!-- End Navbar -->

	<!-- Sidebar -->
		<div class="sidebar">
			<ul class="sidebar-nav">
				<li class="sidebar-nav-item">
					<a href="{% url 'dashboard' %}" class="sidebar-nav-link">
						<div>
							<i class="fas fa-tachometer-alt"></i>
						</div>
						<span>
							Dashboard
						</span>
					</a>
				</li>
				<li class="sidebar-nav-item">
					<a href="{% url 'add_target_form' %}" class="sidebar-nav-link">
						<div>
							<i class="far fa-plus-square"></i>
						</div>
						<span>Add Target</span>
					</a>
				</li>
				<li  class="sidebar-nav-item">
					<a href="{% url 'list_target' %}" class="sidebar-nav-link">
						<div>
							<i class="fas fa-list-ul"></i>
						</div>
						<span>List Target</span>
					</a>
				</li>
				<li  class="sidebar-nav-item">
					<a href="{% url 'scan_hist' %}" class="sidebar-nav-link">
						<div>
							<i class="fas fa-clock"></i>
						</div>
						<span>History</span>
					</a>
				</li>
				<!-- <li  class="sidebar-nav-item">
					<a href="#" class="sidebar-nav-link">
						<div>
							<i class="fas fa-check-circle"></i>
						</div>
						<span>History</span>
					</a>
				</li> -->
				<li  class="sidebar-nav-item">
					<a href="#" class="sidebar-nav-link">
						<div>
							<i class="fas fa-info-circle"></i>
						</div>
						<span>About</span>
					</a>
				</li>
				<li  class="sidebar-nav-item">
					<a href="{% url 'logout' %}" class="sidebar-nav-link">
						<div>
							<i class="fas fa-sign-out-alt"></i>
						</div>
						<span>Logout</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- end sidebar -->
	<!-- End Sidebar -->

	<!-- Main Content -->
	<div class="wrapper">
		{# Div for snackbar #}
					<div>
						{% if messages %}
							{% for message in messages %}
								<script>
									Snackbar.show({
										text: '{{ message }}',
										pos: 'top-right',
										actionTextColor: '#f66496',
										backgroundColor: '#232323',
										duration: 8000
									});
								</script>
							{% endfor %}
						{% endif%}
					</div>
		{% block content %}
		<p>This is paragraph.</p>
		{% endblock content %}
	</div>
	<!-- End Main Content -->



	{% block script %}
	{% endblock script %}

</body>
</html>